{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/feedback/">Airline</a>
    </div>
</nav>
<div class="container">
    {% block container %}
    {% endblock %}
</div>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>