{% extends "base.html" %}
{% block title %}
Create
{% endblock %}
{% block container %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" type="submit">Сохранить</button>
</form>
{% endblock %}
