{% extends "base.html" %}
{% block title %}
Delete
{% endblock %}
{% block container %}
<h1>{{object.title}}</h1>
<p></p>
Вы уверены?
<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Да</button>
    <a href="/feedback" class="btn btn-primary">Нет</a>
</form>
{% endblock %}