{% extends "base.html" %}
{% block title %}
Detail
{% endblock %}
{% block container %}
<div class="row">
    <div class="col">Фамилия</div>
    <div class="col">{{object.last_name}}</div>
</div>
<div class="row">
    <div class="col">Имя</div>
    <div class="col">{{object.first_name}}</div>
</div>
<div class="row">
    <div class="col">Отчество</div>
    {% if object.middle_name %} <div class="col">{{object.middle_name}}</div>{% else %}<div class="col">-</div>{% endif %}
</div>
<div class="row">
    <div class="col">Почта</div>
    <div class="col">{{object.email}}</div>
</div>
<div class="row">
    <div class="col">Текст</div>
    <div class="col">{{object.text}}</div>
</div>
{% endblock %}