{% extends "base.html" %}
{% block title %}
List
{% endblock %}
{% block container %}

<ul class="list-group">
    {% for item in object_list %}
    <li class="list-group-item">
        <div class="row">
            <div class="col-8"><a href="/feedback/{{item.pk}}/">{{item.title}}</a></div>
            <div class="col"><a href="/feedback/update/{{item.pk}}/" class="btn btn-primary">Изменить</a></div>
            <div class="col"><a href="/feedback/delete/{{item.pk}}/" class="btn btn-danger">Удалить</a></div>
        </div>
    </li>
    {% endfor %}
</ul>
<br>
<a href="/feedback/create/" class="btn btn-primary">Создать</a>

{% endblock %}
